# SPDX-License-Identifier: GPL-2.0-or-later
#
# (C) Copyright 2022 - Analog Devices, Inc.
#
# Written and/or maintained by Timesys Corporation
#
# Contact: Nathan Barrett-Morrison <nathan.morrison@timesys.com>
# Contact: Greg Malysa <greg.malysa@timesys.com>
#

if TARGET_SC589_MINI

config SYS_VENDOR
	default "adi"

config LDR_CPU
	default	"ADSP-SC589-0.1"

config SYS_BOARD
	default "sc589-mini"

config SYS_CONFIG_NAME
	default "sc589-mini"

config MACH_TYPE
	default "MACH_TYPE_SC589_MINI"

config SPL_MAX_SIZE
	default 0x20000 # 128KB

config ADI_IMAGE
	default "minimal"

endif
