# SPDX-License-Identifier: GPL-2.0-or-later
#
# (C) Copyright 2022 - Analog Devices, Inc.
#
# Written and/or maintained by Timesys Corporation
#
# Contact: Nathan Barrett-Morrison <nathan.morrison@timesys.com>
# Contact: Greg Malysa <greg.malysa@timesys.com>
#

if TARGET_SC589_EZKIT

config SYS_VENDOR
	default "adi"

config LDR_CPU
	default	"ADSP-SC589-0.1"

config SYS_BOARD
	default "sc589-ezkit"

config SYS_CONFIG_NAME
	default "sc589"

config MACH_TYPE
	default "MACH_TYPE_SC589_EZKIT"

config SPL_MAX_SIZE
	default 0x20000 # 128KB

config ADI_IMAGE
	default "tiny"

config SPL_BSS_START_ADDR
	hex
	default 0x20080000

config SPL_BSS_MAX_SIZE
	hex
	default 0x10000 # 64K

config SYS_SPL_MALLOC_START
	hex
	default 0x20090000

config SYS_SPL_MALLOC_SIZE
	hex
	default 0x10000 # 64K

config SPL_STACK
	hex
	default 0x200B0000

config SPL_STACK_SIZE
	hex
	default 0x10000 # 64K

config CUSTOM_SYS_INIT_SP_ADDR
	hex
	default 0xC203f000

endif
