# SPDX-License-Identifier: GPL-2.0-or-later
#
# (C) Copyright 2022 - Analog Devices, Inc.
#
# Written and/or maintained by Timesys Corporation
#
# Contact: Nathan Barrett-Morrison <nathan.morrison@timesys.com>
# Contact: Greg Malysa <greg.malysa@timesys.com>
#

if TARGET_SC584_EZKIT

config SYS_VENDOR
	default "adi"

config LDR_CPU
	default	"ADSP-SC584-0.1"

config SYS_BOARD
	default "sc584-ezkit"

config SYS_CONFIG_NAME
	default "sc584-ezkit"

config MACH_TYPE
	default "MACH_TYPE_SC584_EZKIT"

endif
