# SPDX-License-Identifier: GPL-2.0-or-later
#
# (C) Copyright 2022 - Analog Devices, Inc.
#
# Written and/or maintained by Timesys Corporation
#
# Contact: Nathan Barrett-Morrison <nathan.morrison@timesys.com>
# Contact: Greg Malysa <greg.malysa@timesys.com>
#

if TARGET_SC598_SOM_EZKIT

config SYS_VENDOR
	default "adi"

config LDR_CPU
	default "ADSP-SC598-0.0"

config SYS_BOARD
	default "sc598-som-ezkit"

config SYS_CONFIG_NAME
	default "sc598-som"

config MACH_TYPE
	default "MACH_TYPE_SC598_SOM_EZKIT"

config DEFAULT_DEVICE_TREE
	default "sc598-som-ezkit"

config SPL_MAX_SIZE
	default 0x30000 # 256KB

config ADI_IMAGE
	default "minimal"

config NR_DRAM_BANKS
	default 1

config SPL_BSS_START_ADDR
	hex
	default 0x200B0000

config SPL_BSS_MAX_SIZE
	hex
	default 0x10000 # 64K

config SYS_SPL_MALLOC_START
	hex
	default 0x200C0000

config SYS_SPL_MALLOC_SIZE
	hex
	default 0x10000 # 64K

config SPL_STACK
	hex
	default 0x200E4000

config SPL_STACK_SIZE
	hex
	default 0x14000 # 64K

config TEXT_BASE
	hex
	default 0x96000000

config CUSTOM_SYS_INIT_SP_ADDR
	hex
	default 0x96000000

config SYS_LOAD_ADDR
	hex
	default 0x0

# SPL

config SPL_TEXT_BASE
	default 0x20080000

config SPL_PAYLOAD_ARGS_ADDR
	hex
	default 0x99000000

config SPL_OF_LIBFDT_ASSUME_MASK
	hex
	default 0x0

# SPI Flash

config SF_DEFAULT_BUS
	default 2

config SF_DEFAULT_CS
	default 1

config SF_DEFAULT_SPEED
	default 10000000

# Clock Configs

config CGU0_DF_DIV
	default 0

config CGU0_VCO_MULT
	default 80

config CGU0_CCLK_DIV
	default 2

config CGU0_SCLK_DIV
	default 4

config CGU0_SCLK0_DIV
	default 4

config CGU0_SCLK1_DIV
	default 2

config CGU0_DCLK_DIV
	default 3

config CGU0_OCLK_DIV
	default 8

config CGU0_DIV_S1SELEX
	default 6

config CGU1_VCO_MULT
	default 72

config CGU1_DF_DIV
	default 0

config CGU1_CCLK_DIV
	default 16

config CGU1_SCLK_DIV
	default 8

config CGU1_SCLK0_DIV
	default 4

config CGU1_SCLK1_DIV
	default 2

config CGU1_DCLK_DIV
	default 18

config CGU1_OCLK_DIV
	default 16

config CGU1_DIV_S0SELEX
	default 36

config CGU1_DIV_S1SELEX
	default 90

endif
