if TARGET_SC598_SOM_EZKIT

config SYS_VENDOR
	default "adi"

config ADI_CPU
	string
	default "ADSP-SC598-0.0"

config SYS_BOARD
	default "sc598-som-ezkit"

config SYS_CONFIG_NAME
	default "sc598-som-ezkit"

config VCO_MULT
	int
	default 80

config CCLK_DIV
	int
	default 2

config SCLK_DIV
	int
	default 4

config SCLK0_DIV
	int
	default 4

config SCLK1_DIV
	int
	default 2

config DCLK_DIV
	int
	default 3

config OCLK_DIV
	int
	default 8

config DIV_S1SELEX
	int
	default 6

config CGU1_VCO_MULT
	int
	default 72

config CGU1_CCLK_DIV
	int
	default 16

config CGU1_SCLK_DIV
	int
	default 8

config CGU1_SCLK0_DIV
	int
	default 4

config CGU1_SCLK1_DIV
	int
	default 2

config CGU1_DCLK_DIV
	int
	default 18

config CGU1_OCLK_DIV
	int
	default 16

config CGU1_DIV_S0SELEX
	int
	default 36

config CGU1_DIV_S1SELEX
	int
	default 90

config SC5XX_SPI
	bool
	default y

config USB_SC59X
	bool
	default n

config ADI_SPI3_DM
	bool
	default y

config ADI_SPI3
	bool
	default n

config CMD_SC58X_OTP
	bool
	default y

endif
