if TARGET_SC573_EZKIT

config SYS_VENDOR
	default "adi"

config SYS_BOARD
	default "sc573-ezkit"

config SYS_CONFIG_NAME
	default "sc573-ezkit"

config ADI_CPU
	string
	default "ADSP-SC573-0.0"

endif
config DTBLOADADDR
	string
	default "0x84000000"

config DTBNAME
	string
	default "sc573-ezkit.dtb"

config DW_PORTS
	int
	default 1

config GENERIC_MMC
	bool
	default y

config SC5XX_DWMMC
	bool
	default y

config ENV_IS_EMBEDDED_IN_LDR
	bool
	default n

config LINUX_MEMSIZE
	string
	default "224M"

config USB_SC57X
	bool
	default y

config MMC_DW
	bool
	default y
