if SC59X

choice
	prompt "SC59X board select"

config TARGET_SC594_SOM_EZKIT
	bool "Support sc594 SOM-based EZkit"

endchoice

config SC_BOOT_MODE
	int "SC59X boot mode select"
	default 1
	range 0 7
	help
	  Mode 0: do nothing, just idle
	  Mode 1: boot ldr out of serial flash
	  Mode 7: boot ldr over uart

config CLOCK_SPEED_500MHZ
	bool "Enable 500MHz CORE Clock for SC59x"
	default n
	depends on SC59X=y
	help
	  Allow user to enable or disable SC59x core running at 500MHz.

config SC_BOOT_SPI_BUS
	int "SC59X SPI bus ID for SPI boot"
	default 2
	range 0 2
	depends on SC_BOOT_MODE=1
	help
	  Specify the SPI bus ID to update the u-boot image for SPI boot.

config SC_BOOT_SPI_SSEL
	int "SC59X SPI Chip Select ID for SPI boot"
	default 1
	range 1 7
	depends on SC_BOOT_MODE=1
	help
	  Specify the SPI chip select ID to update the u-boot image for SPI boot.

config CMD_ICC
	bool "ICC command to enable and disable slave cores"
	default y
	help
	  Allow user to enable or disable slave Sharc cores in u-boot after
	  bootrom load multicore LDR image into the memory.

config SYS_SOC
	default "sc59x"

config SC59X_CHAIN_BOOT
	bool "Chained U-Boot for Secure Boot"
	default n
	depends on SC_BOOT_MODE=1
	help
	  Builds a two-stage U-Boot which is needed for Secure Boot

config SPI_UBOOT_OFF
	hex "Offset of main u-boot bootstream on SPI flash"
	default 0x1000
	depends on SC59X_CHAIN_BOOT=y
	help
	  Specifiy the offset of the second stage u-boot bootstream on SPI flash

config ADI_FALCON
	bool "Enable Falcon Boot Mode Support"
	depends on SPL_OS_BOOT
	default n
	help
		Enable Falcon Boot Mode Support

config ADI_SPL_FORCE_BMODE
	int "Force the SPL to use this BMODE device during next boot stage"
	default 0
	range 0 9
	depends on SPL
	help
	  Force the SPL to use this BMODE device during next boot stage.
	  For example, if booting via QSPI, we can force the second stage
	  Of the boot process to use other peripherals via:
	  1 = QSPI -> QSPI
	  5 = QSPI -> OSPI

source "board/adi/common/Kconfig"
source "board/adi/sc594-som-ezkit/Kconfig"

endif
