// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * (C) Copyright 2022 - Analog Devices, Inc.
 *
 * Written and/or maintained by Timesys Corporation
 *
 * Contact: Nathan Barrett-Morrison <nathan.morrison@timesys.com>
 * Contact: Greg Malysa <greg.malysa@timesys.com>
 */

/dts-v1/;

#include "sc5xx.dtsi"
#include "sc57x.dtsi"

/ {
	model = "ADI sc573-ezkit";
	compatible = "adi,sc573-ezkit", "adi,sc57x";
};

&i2c2 {
	gpio_expander1: mcp23017@21 {
		compatible = "microchip,mcp23017";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		bootph-all;

		eeprom {
			gpio-hog;
			gpios = <0 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~eeprom-en";
			bootph-all;
		};

		uart0-flow-en {
			gpio-hog;
			gpios = <1 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~uart0-flow-en";
			bootph-all;
		};

		mlb {
			gpio-hog;
			gpios = <5 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~mlb-en";
			bootph-all;
		};

		can0 {
			gpio-hog;
			gpios = <6 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~can0-en";
			bootph-all;
		};

		can1 {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~can1-en";
			bootph-all;
		};

		adau1962 {
			gpio-hog;
			gpios = <8 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "~adau1962-en";
			bootph-all;
		};

		adau1979 {
			gpio-hog;
			gpios = <9 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "~adau1979-en";
			bootph-all;
		};

		sd-wp-en {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~sd-wp-en";
			bootph-all;
		};

		spi2flash-cs {
			gpio-hog;
			gpios = <12 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "~spi2flash-cs";
			bootph-all;
		};

		spi2d2-d3 {
			gpio-hog;
			gpios = <13 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "~spi2d2-d3-en";
			bootph-all;
		};

		spdif-opt {
			gpio-hog;
			gpios = <14 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~spdif-optical-en";
			bootph-all;
		};

		spdif-dig {
			gpio-hog;
			gpios = <15 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~spdif-digital-en";
			bootph-all;
		};
	};

	gpio_expander2: mcp23017@22 {
		compatible = "microchip,mcp23017";
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
		bootph-all;

		pushbutton3 {
			gpio-hog;
			gpios = <0 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~pushbutton3-en";
			bootph-all;
		};

		pushbutton2 {
			gpio-hog;
			gpios = <1 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~pushbutton2-en";
			bootph-all;
		};

		pushbutton1 {
			gpio-hog;
			gpios = <2 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~pushbutton1-en";
			bootph-all;
		};

		leds {
			gpio-hog;
			gpios = <3 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~leds-en";
			bootph-all;
		};

		flg0 {
			gpio-hog;
			gpios = <4 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~flg0_loop";
			bootph-all;
		};

		flg1 {
			gpio-hog;
			gpios = <5 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~flg1_loop";
			bootph-all;
		};

		flg2 {
			gpio-hog;
			gpios = <6 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~flg2_loop";
			bootph-all;
		};

		flg3 {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~flg3_loop";
			bootph-all;
		};

		adau1977 {
			gpio-hog;
			gpios = <8 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~adau1977_en";
			bootph-all;
		};

		adau1977_fault_rst {
			gpio-hog;
			gpios = <9 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~adau1977_fault_rst_en";
			bootph-all;
		};

		thumbwheel {
			gpio-hog;
			gpios = <10 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~thumbwheel_oe";
			bootph-all;
		};

		engine_rpm {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~engine_rpm_oe";
			bootph-all;
		};
	};
};

&eth0 {
	snps,reset-gpio = <&gpio0 ADI_ADSP_PIN('A', 5) GPIO_ACTIVE_LOW>;
};

&gpio0 {
	emac0_phy_pwdn {
		gpio-hog;
		output-high;
		gpios = <ADI_ADSP_PIN('A', 4) GPIO_ACTIVE_HIGH>;
	};
};

&mmc {
	status = "okay";
};
