/dts-v1/;

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "ADI sc598-som-ezkit";
	compatible = "adi,sc598-som-ezkit", "adi,sc59x";

	config {
		/* Offsets where U-Boot Proper is stored -- used by SPL */
		u-boot,spl-payload-offset = <0x20000>;   /* QSPI byte offset -- 128KB  */
		u-boot,spl-mmc-sector-offset = <0x200>;  /* MMC sector offset -- 256KB */
	};

	chosen {
		stdout-path = "serial0:115200";
	};

 	aliases {
		spi0 = "/spi@31027000";
		spi2 = "/spi@31030000";
		serial0 = &uart0;
 	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		device_type = "soc";
		/*interrupt-parent = <&intc>;*/
		ranges;
		u-boot,dm-pre-reloc;

		uart0: serial@0x31003000 {
			compatible = "adi,uart4";
			reg = <0x31003000 0x1000>;
			adi,uart-port = <0>;
			adi,enable-edbo;
			u-boot,dm-pre-reloc;
			status = "okay";
		};

		ospi: spi@31027000 {
			compatible = "cdns,qspi-nor";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x31027000 0x1000>,
				  <0x30400000 0x1000>;
			interrupts = <0 151 4>;
			/*clocks = <&ospi_clk>;*/
			ext-decoder = <0>;  /* external decoder */
			num-cs = <1>;
			fifo-depth = <128>;
			bus-num = <0>;
			status = "disabled";
			u-boot,dm-pre-reloc;
		};

		spi2: spi@31030000 {
			compatible = "adi,spi3";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x31030000 0x1000>;
			bus-num = <2>;
			spi-max-frequency = <10000000>;
			status = "disabled";
			u-boot,dm-pre-reloc;
		};

		sharc1: sharc@0x28240000 {
			compatible = "adi,sc5xx-rproc";
			reg = <0x28240000 0x100>;
			status = "okay";
			adi,coreid = <1>;
			adi,rcu-reg = <0x3108c000>;
		};

		sharc2: sharc@0x28a40000 {
			compatible = "adi,sc5xx-rproc";
			reg = <0x28a40000 0x100>;
			status = "okay";
			adi,coreid = <2>;
			adi,rcu-reg = <0x3108c000>;
		};

		clocks {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <0>;
			u-boot,dm-pre-reloc;

			emmcclk: emmcclk@0 {
				compatible = "fixed-clock";
				reg = <0>;
				#clock-cells = <0>;
				clock-frequency = <50000000>; /* 50 MHz */
				u-boot,dm-pre-reloc;
			};
		};

		eth0: eth@0x31040000 {
			compatible = "snps,dwmac-5.20";
			reg = <0x31040000 0x1000>;
			phy-mode = "rgmii";
		};

		mmc0: mmc@310C7000 {
			compatible = "designware,sdhci-5.1";
			reg = <0x310C7000 0x1000>;
			interrupts = <GIC_SPI 237 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&emmcclk>;
			clock-names = "core";
			max-frequency = <50000000>;
			bus-width = <8>;
			u-boot,dm-pre-reloc;
		};

		usb0_phy: usbphy {
			compatible = "usb-nop-xceiv";
			#phy-cells = <0>;
			status = "disabled";
		};

		usb0: usb@310c5000 {
			compatible = "snps,dwc2";
			dr_mode = "host";
			reg = <0x310c5000 0x2000>;
			interrupts = <GIC_SPI 241 IRQ_TYPE_LEVEL_HIGH>;
			phys = <&usb0_phy>;
			phy-names = "usb2-phy";
			status = "disabled";
		};
	};
};

&ospi {

	status = "okay";

	flash0: mx66lm1g45@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "mx66lm1g45";
		reg = <0>;
		spi-max-frequency = <133000000>;
		tshsl-ns = <50>;
		tsd2d-ns = <50>;
		tchsh-ns = <4>;
		tslch-ns = <4>;
		u-boot,dm-pre-reloc;
	};
};

&spi2 {

	status = "okay";

	flash1: is25lp512@2 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "is25lp512";
		reg = <1>;
		u-boot,dm-pre-reloc;
	};

};

&mmc0 {
	status = "okay";
};


&usb0_phy {
	status = "okay";
};

&usb0 {
	status = "okay";
};
