// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * (C) Copyright 2022 - Analog Devices, Inc.
 *
 * Written and/or maintained by Timesys Corporation
 *
 * Contact: Nathan Barrett-Morrison <nathan.morrison@timesys.com>
 * Contact: Greg Malysa <greg.malysa@timesys.com>
 */

/dts-v1/;

#include "sc594-som.dtsi"

/ {
	model = "ADI sc594-som-ezkit";
	compatible = "adi,sc594-som-ezkit", "adi,sc59x";
};

&i2c2{
	gpio_expander2: mcp23017@22 {
		compatible = "microchip,mcp23017";
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
		u-boot,dm-pre-reloc;

		eeprom {
			gpio-hog;
			gpios = <0 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "eeprom-en";
			u-boot,dm-pre-reloc;
		};

		pushbutton {
			gpio-hog;
			gpios = <1 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "pushbutton-en";
			u-boot,dm-pre-reloc;
		};

		microsd {
			gpio-hog;
			gpios = <2 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~microsd-spi";
			u-boot,dm-pre-reloc;
		};

		adau-reset {
			gpio-hog;
			gpios = <5 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "adau-reset";
			u-boot,dm-pre-reloc;
		};

		adau1962 {
			gpio-hog;
			gpios = <6 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "adau1962-en";
			u-boot,dm-pre-reloc;
		};

		adau1979 {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "adau1979-en";
			u-boot,dm-pre-reloc;
		};

		octal {
			gpio-hog;
			gpios = <8 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "octal-spi-cs-en";
			u-boot,dm-pre-reloc;
		};

		spdif-dig {
			gpio-hog;
			gpios = <9 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~spdif-digital-en";
			u-boot,dm-pre-reloc;
		};

		spdif-opt {
			gpio-hog;
			gpios = <10 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~spdif-optical-en";
			u-boot,dm-pre-reloc;
		};

		audio-jack {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "audio-jack-sel";
			u-boot,dm-pre-reloc;
		};

		mlb {
			gpio-hog;
			gpios = <12 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~mlb-en";
			u-boot,dm-pre-reloc;
		};

		eth1 {
			gpio-hog;
			gpios = <13 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "~eth1-en";
			u-boot,dm-pre-reloc;
		};

		eth1-reset {
			gpio-hog;
			gpios = <14 GPIO_ACTIVE_HIGH>;
			/*
			 * USB0 lines are shared with Eth1 so  Eth PHY must be held in reset
			 * when using the USB
			 */
			output-low;
			line-name = "~eth1-reset";
			u-boot,dm-pre-reloc;
		};

		gige-reset {
			gpio-hog;
			gpios = <15 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~gige-reset";
			u-boot,dm-pre-reloc;
		};
	};
};
