/dts-v1/;

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "ADI sc598-som-ezkit";
	compatible = "adi,sc598-som-ezkit", "adi,sc59x";

 	aliases {
		spi0 = "/spi@31027000";
		spi2 = "/spi@31030000";
 	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		device_type = "soc";
		/*interrupt-parent = <&intc>;*/
		ranges;

		qspi: spi@31027000 {
			compatible = "cadence,qspi";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x31027000 0x1000>,
				  <0x30400000 0x1000>;
			interrupts = <0 151 4>;
			/*clocks = <&qspi_clk>;*/
			ext-decoder = <0>;  /* external decoder */
			num-cs = <4>;
			fifo-depth = <128>;
			bus-num = <0>;
			status = "disabled";
		};

		spi2: spi@31030000 {
			compatible = "adi,spi3";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x31030000 0x1000>;
			bus-num = <2>;
			spi-max-frequency = <10000000>;
			status = "disabled";
		};


		clocks {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <0>;

			emmcclk: emmcclk@0 {
				compatible = "fixed-clock";
				reg = <0>;
				#clock-cells = <0>;
				clock-frequency = <50000000>; /* 50 MHz */
			};
		};

		mmc0: mmc@310C7000 {
			compatible = "designware,sdhci-5.1";
			reg = <0x310C7000 0x1000>;
			interrupts = <GIC_SPI 237 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&emmcclk>;
			clock-names = "core";
			max-frequency = <50000000>;
			bus-width = <8>;
		};
	};
};

&qspi {
	status = "disabled";

	flash0: is25lx256@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "is25lx256";
		reg = <0>;
		spi-max-frequency = <112000000>;
		tshsl-ns = <50>;
		tsd2d-ns = <50>;
		tchsh-ns = <4>;
		tslch-ns = <4>;
	};
};

&spi2 {
	status = "okay";

	flash1: is25lp512@2 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "is25lp512";
		reg = <1>;
	};

};

&mmc0 {
	status = "okay";
};

