/dts-v1/;

#include "sc5xx.dtsi"
#include "sc59x.dtsi"

/ {
	model = "ADI sc594-som-ezkit";
	compatible = "adi,sc594-som-ezkit", "adi,sc59x";

	config {
		u-boot,spl-payload-offset = <0x20000>;
	};
};

&pinctrl0 {
	soc_defaults: soc_pins {
		u-boot,dm-pre-reloc;
		adi,pins = <ADI_ADSP_PIN('A', 14) ADI_ADSP_PINFUNC_ALT0>, /* i2c */
	               <ADI_ADSP_PIN('A', 15) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('F', 2) ADI_ADSP_PINFUNC_ALT0>, /* emmc */
	               <ADI_ADSP_PIN('F', 3) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('F', 4) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('F', 5) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('F', 6) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('F', 7) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('F', 8) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('F', 9) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('F', 10) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('F', 11) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('F', 12) ADI_ADSP_PINFUNC_ALT0>;
	};

	ospi_default: ospi_pins {
		u-boot,dm-pre-reloc;
		adi,pins = <ADI_ADSP_PIN('C', 8) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('C', 9) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('C', 10) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('C', 11) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('C', 12) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('C', 13) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('C', 14) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('C', 15) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('D', 0) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('D', 1) ADI_ADSP_PINFUNC_ALT0>,
	               <ADI_ADSP_PIN('D', 4) ADI_ADSP_PINFUNC_ALT2>;
	};
};

&clk{
	compatible = "adi,sc594-clocks";
};

&uart0{
	clocks = <&clk ADSP_SC594_CLK_CGU0_SCLK0>;
};

&wdog{
	clocks = <&clk ADSP_SC594_CLK_CGU0_SCLK0>;
};

&i2c0{
	clocks = <&clk ADSP_SC594_CLK_CGU0_SCLK0>;
};

&i2c1{
	clocks = <&clk ADSP_SC594_CLK_CGU0_SCLK0>;
};

&i2c2{
	clocks = <&clk ADSP_SC594_CLK_CGU0_SCLK0>;

	gpio_expander1: mcp23017@21 {
		compatible = "microchip,mcp23017";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		u-boot,dm-pre-reloc;

		led1 {
			gpio-hog;
			gpios = <0 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "led1-en";
			u-boot,dm-pre-reloc;
		};

		led2 {
			gpio-hog;
			gpios = <1 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "led2-en";
			u-boot,dm-pre-reloc;
		};

		led3 {
			gpio-hog;
			gpios = <2 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "led3-en";
			u-boot,dm-pre-reloc;
		};

		spi2flash-cs {
			gpio-hog;
			gpios = <3 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "~spi2flash-cs";
			u-boot,dm-pre-reloc;
		};

		spi2d2-d3 {
			gpio-hog;
			gpios = <4 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "~spi2d2-d3-en";
			u-boot,dm-pre-reloc;
		};

		uart0 {
			gpio-hog;
			gpios = <5 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "~uart0-en";
			u-boot,dm-pre-reloc;
		};

		uart0-flow-en {
			gpio-hog;
			gpios = <6 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~uart0-flow-en";
			u-boot,dm-pre-reloc;
		};

		ospiflash-cs {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "~ospiflash-cs";
			u-boot,dm-pre-reloc;
		};
	};

	gpio_expander2: mcp23017@22 {
		compatible = "microchip,mcp23017";
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
		u-boot,dm-pre-reloc;

		eeprom {
			gpio-hog;
			gpios = <0 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "eeprom-en";
			u-boot,dm-pre-reloc;
		};

		pushbutton {
			gpio-hog;
			gpios = <1 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "pushbutton-en";
			u-boot,dm-pre-reloc;
		};

		microsd {
			gpio-hog;
			gpios = <2 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~microsd-spi";
			u-boot,dm-pre-reloc;
		};

		adau-reset {
			gpio-hog;
			gpios = <5 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "adau-reset";
			u-boot,dm-pre-reloc;
		};

		adau1962 {
			gpio-hog;
			gpios = <6 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "adau1962-en";
			u-boot,dm-pre-reloc;
		};

		adau1979 {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "adau1979-en";
			u-boot,dm-pre-reloc;
		};

		octal {
			gpio-hog;
			gpios = <8 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "octal-spi-cs-en";
			u-boot,dm-pre-reloc;
		};

		spdif-dig {
			gpio-hog;
			gpios = <9 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~spdif-digital-en";
			u-boot,dm-pre-reloc;
		};

		spdif-opt {
			gpio-hog;
			gpios = <10 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~spdif-optical-en";
			u-boot,dm-pre-reloc;
		};

		audio-jack {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "audio-jack-sel";
			u-boot,dm-pre-reloc;
		};

		mlb {
			gpio-hog;
			gpios = <12 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~mlb-en";
			u-boot,dm-pre-reloc;
		};

		eth1 {
			gpio-hog;
			gpios = <13 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "~eth1-en";
			u-boot,dm-pre-reloc;
		};

		eth1-reset {
			gpio-hog;
			gpios = <14 GPIO_ACTIVE_HIGH>;
			/* USB0 lines are shared with Eth1 so  Eth PHY must be held in reset
			   when using the USB */
			output-low;
			line-name = "~eth1-reset";
			u-boot,dm-pre-reloc;
		};

		gige-reset {
			gpio-hog;
			gpios = <15 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "~gige-reset";
			u-boot,dm-pre-reloc;
		};
	};
};

&ospi {
	status = "okay";

	clocks = <&clk ADSP_SC594_CLK_OSPI>;

	flash0: is25lx256@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "is25lx256";
		reg = <0>;
		spi-max-frequency = <112000000>;
		tshsl-ns = <50>;
		tsd2d-ns = <50>;
		tchsh-ns = <4>;
		tslch-ns = <4>;
		u-boot,dm-pre-reloc;
	};
};

&spi2 {
	status = "okay";

	clocks = <&clk ADSP_SC594_CLK_CGU0_SCLK1>;
};

&usb0_phy {
	status = "okay";
};

&usb0 {
	status = "okay";
};