/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/adi-adsp.h>
#include <dt-bindings/clock/adi-sc5xx-clock.h>

/ {
	model = "ADI sc594-som-ezkit";
	compatible = "adi,sc594-som-ezkit", "adi,sc59x";

	config {
		u-boot,spl-payload-offset = <0x20000>;
	};

	chosen {
		stdout-path = "serial0:115200";
	};

	aliases {
		spi0 = "/spi@31027000";
		spi2 = "/spi@31030000";
		serial0 = &uart0;
	};

	clocks {
		dummy: dummy {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <0>;
			u-boot,dm-pre-reloc;
		};

		sys_clkin0: sys_clkin0 {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <25000000>;
			u-boot,dm-pre-reloc;
		};

		sys_clkin1: sys_clkin1 {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <25000000>;
			u-boot,dm-pre-reloc;
		};
	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		device_type = "soc";
		/*interrupt-parent = <&intc>;*/
		ranges;
		u-boot,dm-pre-reloc;

		pinctrl0: pinctrl@0x31004000 {
			compatible = "adi,adsp-pinctrl";
			reg = <0x31004000 0x500>;
			adi,npins = <135>;
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&soc_defaults>;
			u-boot,dm-pre-reloc;

			soc_defaults: soc_pins {
				u-boot,dm-pre-reloc;
				adi,pins = <ADI_ADSP_PIN('A', 14) ADI_ADSP_PINFUNC_ALT0>, /* i2c */
			               <ADI_ADSP_PIN('A', 15) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('F', 2) ADI_ADSP_PINFUNC_ALT0>, /* emmc */
			               <ADI_ADSP_PIN('F', 3) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('F', 4) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('F', 5) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('F', 6) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('F', 7) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('F', 8) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('F', 9) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('F', 10) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('F', 11) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('F', 12) ADI_ADSP_PINFUNC_ALT0>;
			};

			eth0_default: eth0_pins {
				adi,pins = <ADI_ADSP_PIN('H', 3) ADI_ADSP_PINFUNC_ALT0>, /* eth0 */
			               <ADI_ADSP_PIN('H', 4) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('H', 5) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('H', 6) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('H', 7) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('H', 8) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('H', 9) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('H', 10) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('H', 11) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('H', 12) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('H', 13) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('H', 14) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('H', 15) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('I', 0) ADI_ADSP_PINFUNC_ALT0>;
			};

			eth1_default: eth1_pins {
				adi,pins = <ADI_ADSP_PIN('E', 11) ADI_ADSP_PINFUNC_ALT0>, /* eth1 */
			               <ADI_ADSP_PIN('E', 12) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('E', 13) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('E', 14) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('E', 15) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('F', 0) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('F', 1) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('F', 2) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('F', 3) ADI_ADSP_PINFUNC_ALT0>;
			};

			uart0_default: uart0_pins {
				u-boot,dm-pre-reloc;
				adi,pins = <ADI_ADSP_PIN('A', 6) ADI_ADSP_PINFUNC_ALT1>,
					       <ADI_ADSP_PIN('A', 7) ADI_ADSP_PINFUNC_ALT1>;
			};

			spi2_default: spi2_pins {
				u-boot,dm-pre-reloc;
				adi,pins = <ADI_ADSP_PIN('A', 0) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('A', 1) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('A', 2) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('A', 3) ADI_ADSP_PINFUNC_ALT0>,
					       <ADI_ADSP_PIN('A', 4) ADI_ADSP_PINFUNC_ALT0>,
					       <ADI_ADSP_PIN('A', 5) ADI_ADSP_PINFUNC_ALT0>;
			};

			ospi_default: ospi_pins {
				u-boot,dm-pre-reloc;
				adi,pins = <ADI_ADSP_PIN('C', 8) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('C', 9) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('C', 10) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('C', 11) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('C', 12) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('C', 13) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('C', 14) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('C', 15) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('D', 0) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('D', 1) ADI_ADSP_PINFUNC_ALT0>,
			               <ADI_ADSP_PIN('D', 4) ADI_ADSP_PINFUNC_ALT2>;
			};
		};

		gpio0: gpio@0x31004000 {
			compatible = "adi,adsp-gpio";
			reg = <0x31004000 0x500>;
			gpio-controller;
			#gpio-cells = <2>;
			adi,ngpios = <135>;
			status = "okay";
			u-boot,dm-pre-reloc;

			emac0_phy_pwdn {
				gpio-hog;
				output-high;
				gpios = <ADI_ADSP_PIN('G', 12) GPIO_ACTIVE_HIGH>;
			};

			pushbutton0 {
				gpio-hog;
				input;
				gpios = <ADI_ADSP_PIN('D', 0) GPIO_ACTIVE_HIGH>;
				u-boot,dm-pre-reloc;
			};

			pushbutton1 {
				gpio-hog;
				input;
				gpios = <ADI_ADSP_PIN('H', 0) GPIO_ACTIVE_HIGH>;
				u-boot,dm-pre-reloc;
			};
		};

		clk: clocks@0x3108d000 {
			compatible = "adi,sc594-clocks";
			reg = <0x3108d000 0x1000>,
				<0x3108e000 0x1000>,
				<0x3108f000 0x1000>;
			reg-names = "cgu0", "cgu1", "cdu";
			#clock-cells = <1>;
			clocks = <&sys_clkin0>, <&sys_clkin1>;
			clock-names = "sys_clkin0", "sys_clkin1";
			status = "okay";
			u-boot,dm-pre-reloc;
		};

		uart0: serial@0x31003000 {
			compatible = "adi,uart4";
			reg = <0x31003000 0x1000>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart0_default>;
			status = "okay";
			u-boot,dm-pre-reloc;
		};

		ospi: spi@31027000 {
			compatible = "cdns,qspi-nor";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x31027000 0x1000>,
				  <0x30400000 0x1000>;
			interrupts = <0 151 4>;
			/*clocks = <&ospi_clk>;*/
			ext-decoder = <0>;  /* external decoder */
			num-cs = <1>;
			fifo-depth = <128>;
			pinctrl-names = "default";
			pinctrl-0 = <&ospi_default>;
			bus-num = <0>;
			status = "disabled";
			u-boot,dm-pre-reloc;
		};

		spi2: spi@31030000 {
			compatible = "adi,spi3";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x31030000 0x1000>;
			pinctrl-names = "default";
			pinctrl-0 = <&spi2_default>;
			bus-num = <2>;
			spi-max-frequency = <10000000>;
			status = "disabled";
			u-boot,dm-pre-reloc;
		};

		eth0: eth@0x31040000 {
			compatible = "snps,arc-dwmac-3.70a";
			reg = <0x31040000 0x1000>;
			phy-mode = "rgmii";
			pinctrl-names = "default";
			pinctrl-0 = <&eth0_default>;
			/* resets are handled via non-dm softconfigs for now */
		};

		eth1: eth@0x3104200 {
			compatible = "snps,arc-dwmac-3.70a";
			reg = <0x31042000 0x1000>;
			phy-mode = "mii";
			pinctrl-names = "default";
			pinctrl-0 = <&eth1_default>;
		};
	};
};

&ospi {
	status = "okay";

	flash0: is25lx256@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "is25lx256";
		reg = <0>;
		spi-max-frequency = <112000000>;
		tshsl-ns = <50>;
		tsd2d-ns = <50>;
		tchsh-ns = <4>;
		tslch-ns = <4>;
		u-boot,dm-pre-reloc;
	};
};

&spi2 {
	status = "okay";

/* mx66lm1g45 and is25lp512 are mutually exclusive */

/*
	flash1: mx66lm1g45@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "mx66lm1g45";
		reg = <1>;
		u-boot,dm-pre-reloc;
	};
*/

	flash1: is25lp512@2 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "is25lp512";
		reg = <1>;
		u-boot,dm-pre-reloc;
	};

};

