CONFIG_ARM=y
CONFIG_SC57X=y
CONFIG_SYS_TEXT_BASE=0x82200000
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SIZE=0x2000
CONFIG_ENV_OFFSET=0x78000
CONFIG_ENV_SECT_SIZE=0x8000
CONFIG_ADI_SPI3_DM=y
CONFIG_DEFAULT_DEVICE_TREE="sc573-ezkit"
CONFIG_FIT=y
CONFIG_FIT_SIGNATURE=y
CONFIG_LEGACY_IMAGE_FORMAT=y
CONFIG_CLKIN_HZ=25000000
CONFIG_CGU0_VCO_MULT=18
CONFIG_CGU0_DF_DIV=0
CONFIG_CGU0_CCLK_DIV=1
CONFIG_CGU0_SCLK_DIV=2
CONFIG_CGU0_SCLK0_DIV=2
CONFIG_CGU0_SCLK1_DIV=2
CONFIG_CGU0_DCLK_DIV=2
CONFIG_CGU0_OCLK_DIV=3
CONFIG_CGU1_VCO_MULT=5
CONFIG_CGU1_DF_DIV=0
CONFIG_CGU1_CCLK_DIV=1
CONFIG_CGU1_SCLK_DIV=2
CONFIG_CGU1_SCLK0_DIV=2
CONFIG_CGU1_SCLK1_DIV=2
CONFIG_CGU1_DCLK_DIV=2
CONFIG_CGU1_OCLK_DIV=3
CONFIG_CDU0_CLKO0=1
CONFIG_CDU0_CLKO1=1
CONFIG_CDU0_CLKO2=1
CONFIG_CDU0_CLKO3=1
CONFIG_CDU0_CLKO4=1
CONFIG_CDU0_CLKO5=1
CONFIG_CDU0_CLKO6=1
CONFIG_CDU0_CLKO7=5
CONFIG_CDU0_CLKO8=1
CONFIG_CDU0_CLKO9=1
CONFIG_CMD_BOOTZ=y
# CONFIG_BOOTM_NETBSD is not set
# CONFIG_BOOTM_PLAN9 is not set
# CONFIG_BOOTM_RTEMS is not set
# CONFIG_BOOTM_VXWORKS is not set
# CONFIG_CMD_BOOTEFI is not set
# CONFIG_CMD_ELF is not set
CONFIG_CMD_DM=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_I2C=y
CONFIG_CMD_MMC=y
CONFIG_CMD_SPI=y
CONFIG_CMD_USB=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_EXT2=y
CONFIG_CMD_FAT=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
# CONFIG_ENV_IS_NOWHERE is not set
CONFIG_ENV_IS_IN_SPI_FLASH=y
CONFIG_USE_ENV_SPI_BUS=y
CONFIG_ENV_SPI_BUS=2
CONFIG_USE_ENV_SPI_CS=y
CONFIG_ENV_SPI_CS=1
CONFIG_USE_ENV_SPI_MAX_HZ=y
CONFIG_ENV_SPI_MAX_HZ=10000000
CONFIG_IP_DEFRAG=y
CONFIG_DM=y
CONFIG_DM_SPI_FLASH=y
CONFIG_SF_DEFAULT_BUS=2
CONFIG_SF_DEFAULT_CS=1
CONFIG_ETH_DESIGNWARE=y
CONFIG_SPECIFY_CONSOLE_INDEX=y
CONFIG_DM_SERIAL=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_USB=y
CONFIG_USB_MUSB_HCD=y
