CONFIG_ARM=y
CONFIG_SC57X=y
CONFIG_TARGET_SC573_EZKIT=y

CONFIG_CMD_SPI=y

CONFIG_SYS_TEXT_BASE=0x82200000
CONFIG_ENV_SIZE=0x2000
CONFIG_NR_DRAM_BANKS=1
CONFIG_BAUDRATE=57600
CONFIG_MMC=y

#CONFIG_OF_CONTROL=y
#CONFIG_OF_EMBED=y
#CONFIG_DEFAULT_DEVICE_TREE="sc573-ezkit"

CONFIG_IP_DEFRAG=y

CONFIG_USB=y
CONFIG_USB_MUSB_HCD=y

CONFIG_ETH_DESIGNWARE=y
