CONFIG_ARM=y
CONFIG_SC58X=y
CONFIG_TARGET_SC584_EZKIT=y
CONFIG_SYS_TEXT_BASE=0x89200000
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SIZE=0x2000
CONFIG_ENV_SECT_SIZE=0x10000
CONFIG_ENV_OFFSET=0x10000
CONFIG_CMD_MMC=y
CONFIG_CMD_SF=y
CONFIG_CMD_SPI=y
CONFIG_CMD_USB=y
CONFIG_CMD_EXT2=y
CONFIG_CMD_FAT=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_ENV_IS_IN_SPI_FLASH=y
CONFIG_USE_ENV_SPI_BUS=y
CONFIG_ENV_SPI_BUS=2
CONFIG_USE_ENV_SPI_CS=y
CONFIG_ENV_SPI_CS=1
CONFIG_IP_DEFRAG=y
CONFIG_SPI_FLASH=y
CONFIG_SF_DEFAULT_BUS=2
CONFIG_SF_DEFAULT_CS=1
CONFIG_ETH_DESIGNWARE=y
CONFIG_BAUDRATE=57600
CONFIG_SPI=y
CONFIG_USB=y
CONFIG_USB_MUSB_HCD=y
CONFIG_OF_LIBFDT=y
