CONFIG_ARM=y
CONFIG_SC58X=y
CONFIG_TARGET_SC589_EZKIT=y

CONFIG_SC_BOOT_MODE=1

CONFIG_CMD_DM
CONFIG_DM
CONFIG_DM_SPI
CONFIG_DM_SPI_FLASH
CONFIG_DM_ETH

CONFIG_CMD_FS_GENERIC=y
CONFIG_CMD_FAT=y
CONFIG_CMD_EXT2=y
CONFIG_DOS_PARTITION=y

CONFIG_SPI=y
CONFIG_CMD_SPI=y
CONFIG_CMD_SF=y
CONFIG_SPI_FLASH=y

CONFIG_SF_DEFAULT_BUS=2
CONFIG_SF_DEFAULT_CS=1

CONFIG_SYS_TEXT_BASE=0xC2200000

CONFIG_ENV_SIZE=0x2000
CONFIG_NR_DRAM_BANKS=1
CONFIG_BAUDRATE=57600

CONFIG_MMC=y
CONFIG_CMD_MMC=y

CONFIG_IP_DEFRAG=y

CONFIG_USB=y
CONFIG_USB_MUSB_HCD=y
CONFIG_CMD_USB=y

CONFIG_ETH_DESIGNWARE=y

CONFIG_OF_LIBFDT=y
