CONFIG_ARM=y
CONFIG_SC59X_64=y
CONFIG_SYS_TEXT_BASE=0x82200000
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SIZE=0x2000
CONFIG_SC_BOOT_MODE=2
CONFIG_DEFAULT_DEVICE_TREE="sc598-som-ezkit"
# CONFIG_SYS_MALLOC_F is not set
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_IP_DEFRAG=y
CONFIG_DM=y
CONFIG_ETH_DESIGNWARE=y
CONFIG_BAUDRATE=57600
# CONFIG_EFI_LOADER is not set
