CONFIG_ARM=y
CONFIG_SC59X=y
CONFIG_SYS_TEXT_BASE=0xB2200000
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SIZE=0x20000
CONFIG_ENV_SECT_SIZE=0x20000
CONFIG_SC_BOOT_MODE=2
# CONFIG_ADI_SPI3 is not set
CONFIG_DEFAULT_DEVICE_TREE="sc594-som-ezkit"
# CONFIG_SYS_MALLOC_F is not set
CONFIG_CMD_DM=y
# CONFIG_CMD_SF is not set
CONFIG_CMD_SPI=y
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_ENV_IS_IN_SPI_FLASH=y
CONFIG_USE_ENV_SPI_BUS=y
CONFIG_ENV_SPI_BUS=0
CONFIG_USE_ENV_SPI_CS=y
CONFIG_ENV_SPI_CS=0
CONFIG_ENV_OFFSET=0x80000
CONFIG_IP_DEFRAG=y
CONFIG_DM=y
CONFIG_DM_SPI_FLASH=y
CONFIG_ETH_DESIGNWARE=y
CONFIG_BAUDRATE=115200
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_USB=y
CONFIG_USB_MUSB_HCD=y
