CONFIG_ARM=y
CONFIG_SYS_ARM_CACHE_WRITETHROUGH=y
CONFIG_ARCH_SC5XX=y
CONFIG_TEXT_BASE=0xB2200000
CONFIG_SYS_MALLOC_F_LEN=0x14000
CONFIG_SPL_GPIO=y
CONFIG_SPL_LIBCOMMON_SUPPORT=y
CONFIG_SPL_LIBGENERIC_SUPPORT=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0xA203f000
CONFIG_ENV_SIZE=0x20000
CONFIG_ENV_OFFSET=0x100000
CONFIG_ENV_SECT_SIZE=0x20000
CONFIG_DM_GPIO=y
CONFIG_SPL_DM_SPI=y
CONFIG_DEFAULT_DEVICE_TREE="sc594-som-ezkit"
CONFIG_SPL_TEXT_BASE=0x20080000
CONFIG_SPL_SERIAL=y
CONFIG_SPL=y
CONFIG_TARGET_SC594_SOM_EZKIT=y
CONFIG_SC_BOOT_MODE=2
CONFIG_ADI_CARRIER_SOMCRR_EZKIT=y
CONFIG_CGU0_DF_DIV=0
CONFIG_CGU0_VCO_MULT=80
CONFIG_CGU0_CCLK_DIV=2
CONFIG_CGU0_SCLK_DIV=4
CONFIG_CGU0_SCLK0_DIV=4
CONFIG_CGU0_SCLK1_DIV=2
CONFIG_CGU0_DCLK_DIV=2
CONFIG_CGU0_OCLK_DIV=16
CONFIG_CGU0_DIV_S1SELEX=6
CONFIG_CGU1_VCO_MULT=64
CONFIG_CGU1_DF_DIV=0
CONFIG_CGU1_CCLK_DIV=2
CONFIG_CGU1_SCLK_DIV=4
CONFIG_CGU1_SCLK0_DIV=4
CONFIG_CGU1_SCLK1_DIV=2
CONFIG_CGU1_DCLK_DIV=2
CONFIG_CGU1_OCLK_DIV=16
CONFIG_CGU1_DIV_S1SELEX=6
CONFIG_CDU0_CLKO0=1
CONFIG_CDU0_CLKO1=1
CONFIG_CDU0_CLKO2=1
CONFIG_CDU0_CLKO3=3
CONFIG_CDU0_CLKO4=3
CONFIG_CDU0_CLKO5=1
CONFIG_CDU0_CLKO6=1
CONFIG_CDU0_CLKO7=1
CONFIG_CDU0_CLKO8=3
CONFIG_CDU0_CLKO9=1
CONFIG_CDU0_CLKO10=1
CONFIG_CDU0_CLKO12=1
CONFIG_SYS_LOAD_ADDR=0x0
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_FIT=y
CONFIG_FIT_SIGNATURE=y
CONFIG_LEGACY_IMAGE_FORMAT=y
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_SPL_BSS_MAX_SIZE=0x65536
CONFIG_SPL_BOOTROM_SUPPORT=y
CONFIG_SPL_I2C=y
CONFIG_SPL_DM_SPI_FLASH=y
CONFIG_SPL_OS_BOOT=y
CONFIG_SYS_SPL_ARGS_ADDR=0xA0000000
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_DM=y
# CONFIG_CMD_PINMUX is not set
CONFIG_CMD_SPI=y
CONFIG_CMD_USB=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_MII=y
# CONFIG_CMD_MDIO is not set
CONFIG_CMD_PING=y
CONFIG_CMD_EXT4=y
CONFIG_CMD_FAT=y
CONFIG_OF_EMBED=y
CONFIG_ENV_OVERWRITE=y
CONFIG_ENV_IS_IN_SPI_FLASH=y
CONFIG_IP_DEFRAG=y
CONFIG_SPL_DM_SEQ_ALIAS=y
CONFIG_GPIO_HOG=y
CONFIG_SPL_GPIO_HOG=y
CONFIG_DM_GPIO_LOOKUP_LABEL=y
CONFIG_SPL_DM_GPIO_LOOKUP_LABEL=y
CONFIG_MCP2301X_GPIO=y
CONFIG_DM_I2C=y
CONFIG_DM_I2C_GPIO=y
CONFIG_SYS_I2C_ADI=y
CONFIG_MTD=y
CONFIG_DM_SPI_FLASH=y
CONFIG_SF_DEFAULT_SPEED=10000000
CONFIG_SPI_FLASH_ISSI=y
CONFIG_SPI_FLASH_MTD=y
CONFIG_ETH_DESIGNWARE=y
CONFIG_PHY=y
CONFIG_PINCTRL=y
# CONFIG_PINCTRL_GENERIC is not set
CONFIG_SPL_PINCTRL=y
# CONFIG_SPL_PINCTRL_GENERIC is not set
CONFIG_SPECIFY_CONSOLE_INDEX=y
CONFIG_DM_SERIAL=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_ADI_QSPI=y
CONFIG_CADENCE_QSPI=y
CONFIG_HAS_CQSPI_REF_CLK=y
CONFIG_CQSPI_REF_CLK=500000000
CONFIG_SPL_TIMER=y
CONFIG_USB=y
CONFIG_USB_DWC2=y
CONFIG_ADI_NOP_USB_XCEIV=y
CONFIG_USB_STORAGE=y
CONFIG_SPL_OF_LIBFDT_ASSUME_MASK=0x0
CONFIG_PARTITIONS=y
CONFIG_DOS_PARTITION=y
CONFIG_PARTITION_UUIDS=y
