if SC58X

choice
	prompt "SC58X board select"

config TARGET_SC589_EZKIT
	bool "Support sc589 EZkit"

config TARGET_SC584_EZKIT
	bool "Support sc584 EZkit"

config TARGET_SC589_MINI
	bool "Support sc589 Mini Board"

endchoice

config SC_BOOT_MODE
	int "SC58X boot mode select"
	default 1
	range 0 7
	help
	  Mode 0: do nothing, just idle
	  Mode 1: boot ldr out of serial flash
	  Mode 7: boot ldr over uart

config CLOCK_SPEED_500MHZ
	bool "Enable 500MHz CORE Clock for SC58x"
	default n
	depends on SC58X=y
	help
	  Allow user to enable or disable SC58x core running at 500MHz.

config SC_BOOT_SPI_BUS
	int "SC58X SPI bus ID for SPI boot"
	default 2
	range 0 2
	depends on SC_BOOT_MODE=1
	help
	  Specify the SPI bus ID to update the u-boot image for SPI boot.

config SC_BOOT_SPI_SSEL
	int "SC58X SPI Chip Select ID for SPI boot"
	default 1
	range 1 7
	depends on SC_BOOT_MODE=1
	help
	  Specify the SPI chip select ID to update the u-boot image for SPI boot.

config CMD_ICC
	bool "ICC command to enable and disable slave cores"
	default y
	help
	  Allow user to enable or disable slave Sharc cores in u-boot after
	  bootrom load multicore LDR image into the memory.

config SYS_SOC
	default "sc58x"

config SC58X_CHAIN_BOOT
	bool "Chained U-Boot for Secure Boot"
	default n
	depends on SC_BOOT_MODE=1
	help
	  Builds a two-stage U-Boot which is needed for Secure Boot

config SPI_UBOOT_OFF
	hex "Offset of main u-boot bootstream on SPI flash"
	default 0x1000
	depends on SC58X_CHAIN_BOOT=y
	help
	  Specifiy the offset of the second stage u-boot bootstream on SPI flash

source "board/adi/common/Kconfig"
source "board/adi/sc589-ezkit/Kconfig"
source "board/adi/sc584-ezkit/Kconfig"
source "board/adi/sc589-mini/Kconfig"
source "board/adi/sc594-som-ezkit/Kconfig"

endif
