# SPDX-License-Identifier: GPL-2.0-or-later
#
# (C) Copyright 2022 - Analog Devices, Inc.
#
# Written and/or maintained by Timesys Corporation
#
# Contact: Nathan Barrett-Morrison <nathan.morrison@timesys.com>
# Contact: Greg Malysa <greg.malysa@timesys.com>
#

if TARGET_SC594_SOM_EZKIT

config SYS_VENDOR
	default "adi"

config LDR_CPU
	default "ADSP-SC594-0.0"

config SYS_BOARD
	default "sc594-som-ezkit"

config SYS_CONFIG_NAME
	default "sc594-som-ezkit"

config MACH_TYPE
	default "MACH_TYPE_SC594_SOM_EZKIT"

config SPL_MAX_SIZE
	default 0x40000 # 256KB

endif
