# SPDX-License-Identifier: GPL-2.0-or-later
#
# (C) Copyright 2022 - Analog Devices, Inc.
#
# Written and/or maintained by Timesys Corporation
#
# Contact: Nathan Barrett-Morrison <nathan.morrison@timesys.com>
# Contact: Greg Malysa <greg.malysa@timesys.com>
#

if TARGET_SC594_SOM_EZKIT

config SYS_VENDOR
	default "adi"

config LDR_CPU
	default "ADSP-SC594-0.0"

config SYS_BOARD
	default "sc594-som-ezkit"

config SYS_CONFIG_NAME
	default "sc594-som"

config MACH_TYPE
	default "MACH_TYPE_SC594_SOM_EZKIT"

config DEFAULT_DEVICE_TREE
	default "sc594-som-ezkit"

config SPL_MAX_SIZE
	default 0x30000 # 256KB

config ADI_IMAGE
	default "minimal"

config SPL_BSS_START_ADDR
	hex
	default 0x200B0000

config SPL_BSS_MAX_SIZE
	hex
	default 0x10000 # 64K

config SYS_SPL_MALLOC_START
	hex
	default 0x200C0000

config SYS_SPL_MALLOC_SIZE
	hex
	default 0x10000 # 64K

config SPL_STACK
	hex
	default 0x200E4000

config SPL_STACK_SIZE
	hex
	default 0x14000 # 64K

config CUSTOM_SYS_INIT_SP_ADDR
	hex
	default 0xA003f000

endif
